{% extends 'base.html' %}
{% load static %}

{% block title %}
Upload Image
{% endblock title%}

{% block subtitle %}
Upload Image
{% endblock subtitle%}

{% block content %}
<link
	href="{% static 'uploads/main.css' %}"
	rel="stylesheet"
	type="text/css"
/>
<form method="post" enctype="multipart/form-data">
	<!-- django csrf token -->
	{% csrf_token %} {{ form.as_p }}
	<input type="submit" value="Submit" />
</form>
{% if saved_object %}
<h2>Upload successful!</h2>
<p><strong>Path:</strong> {{ saved_object.image.url }}</p>
<p><strong>Description:</strong> {{ saved_object.description }}</p>
<img
	class="image"
	src="{{ saved_object.image.url }}"
	alt="Uploaded Image"
/>
{% endif %}
{% endblock content %}