{% extends 'base.html' %}
{% load static %}

{% block title %}
Subscribe
{% endblock title%}

{% block subtitle %}
<div style="display: flex;align-items: center;">
	<img class="subscribe-icon" src="{% static 'subscriptions/icon-email.png' %}" >
	Subscribe
</div>
{% endblock subtitle%}

{% block content %}
<link
	href="{% static 'subscriptions/main.css' %}"
	rel="stylesheet"
	type="text/css"
/>
<form method="post">
	<!-- django csrf token -->
	{% csrf_token %} {{ form.as_p }}
	<input type="submit" value="Submit" />
</form>
</br>
<input type="button" value="Say Hello World" onclick="helloWorld()" />
<script src="{% static 'subscriptions/main.js' %}"></script>
{% endblock content %}