{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="{% static 'subscriptions/main.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<title>Subscribe Form</title>
	</head>
	<body>
		<h1 class="subscribe-title">Subscribe!</h1>
		<form method="post">
			<!-- django csrf token -->
			{% csrf_token %} {{ form.as_p }}
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
