{% extends 'base.html' %}

{% block title %}
All Jobs
{% endblock title%}

{% block subtitle %}
All Jobs
{% endblock subtitle%}

{% block content %}
<ul style="list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;justify-content: left;">
    {% for job in jobs %}
        <li style="margin: 1em;padding: 1em;background: #e8e8e8;border-radius: 0.5em;">
            <a href={% url "job_detail" job.slug %}>
                <h3 style="margin-top: 0.5em;">{{ job.title }}</h3>
            </a>
            <h4>{{ job.company }}</h4>
            <p>{{ job.description }}</p>
            <p>Salary: ${{ job.salary }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock content %}